<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pers.zh.admin.cms.sys.dao.MenuDao">


    <select id="getUserMenuList" resultType="pers.zh.admin.cms.sys.entity.Menu">
        SELECT
        mv.menu_id,
        mv.is_hidden,
        mv.ways_show,
        mv.route_name,
        mv.title,
        mv.icon,
        mv.is_cache,
        mv.url,
        mv.component,
        mv.redirect,
        mv.parent_id,
        mv.perms,
        mv.type,
        mv.order_num
        FROM
        sys_menu mv,
        sys_role_menu rm,
        sys_user_role ur
        WHERE mv.menu_id = rm.menu_id
        AND rm.role_id = ur.role_id
        <if test="type != null and type != ''">
            AND mv.type != #{type}
        </if>
        AND ur.user_id = #{userId}
    </select>
</mapper>